#left {
	width: 30%;
}

#right {
	width: 65%;
	background-color: rgb(192, 192, 192);
	height: 100%;
	margin-left: 10px;
}

.col {
	float: left;
}

.container {
	margin: 5%;
}

.code {
	background: #f5f5dc;
	padding-left: 5px;
	padding-right: 5px;
}
